:root {
    --text: #e5f3f8;
    --background: #03191f;
    --container: #0838468c;
    --primary: #88cae1;
    --secondary: #87224f;
    --font-size: clamp(1rem, 0.28vw + 0.92rem, 1.125rem);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--background);
    font-family: sans-serif;
    color: var(--text);
}

div#root {
    min-height: 100vh;
    min-width: 320px;
}

:focus {
    outline: 2px solid var(--text);
}

/* navbar */

nav {
    height: 4rem;
    border-bottom: solid 1px var(--container);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0 clamp(1rem, 4.44vw - 0.33rem, 3rem);
    font-size: var(--font-size);
}

a {
    text-decoration: none;
    color: #34c9ff;
    transition: opacity 0.15s;
}

a:hover {
    opacity: 0.7;
}

a.nav-link {
    text-decoration: none;
    color: inherit;
    opacity: 1;
}

ul {
    display: flex;
    flex-direction: row;
    gap: clamp(1rem, 4.44vw - 0.33rem, 3rem);
    list-style: none;
}

/* products page */

.product-container {
    width: 80vw;
    margin: 3rem auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 300px));
    grid-auto-rows: 364px;
    justify-content: center;
    gap: 1rem;
}

.product-container article {
    border-radius: 8px;
    height: 100%;
    padding: 1rem 2rem;
    background-color: var(--container);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: var(--text);
    position: relative;
}

.product-container img.item-img {
    width: 100%;
    height: 236px;
}

.product-container p {
    letter-spacing: 1.5px;
}

.product-container .item-name {
    font-size: 1.25rem;
}

/* register/login page */

.form-container {
    height: calc(100vh - 4rem);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: var(--font-size);
}

.form {
    width: clamp(22.375rem, 43.89vw + 10.83rem, 43.75rem);
    height: 60vh;
    text-align: center;
    padding: 1.5rem clamp(1rem, 4.44vw - 0.33rem, 3rem);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 0 0 20px #e5f3f857;
}

.input-section {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 8px;
}

.input-field {
    width: 100%;
    height: 2.25rem;
    border: none;
    background-color: #062933;
    color: white;
    padding: 0 0.8rem;
    font-size: 1rem;
    letter-spacing: 1.5px;
    border-radius: 4px;
}

.input-field:focus {
    outline: 2px solid var(--primary);
}

::placeholder {
    color: #e5f3f89c;
}

.form-btn {
    background-color: #99275adc;
    border: none;
    height: 2.5rem;
    border-radius: 4px;
    font-size: 1rem;
    font-weight: bold;
    color: inherit;
    transition: opacity 0.15s;
    position: relative;
}

.form-btn:hover {
    opacity: 0.8;
}

.form-btn:active {
    opacity: 0.6;
}

.form-btn.disabled {
    opacity: 0.5;
    cursor: not-allowed;
}

/* single product page */
.single-product-container {
    min-height: calc(100vh - 4rem);
    display: flex;
    justify-content: center;
    align-items: center;
}

.single-product {
    width: 70vw;
    background-color: var(--container);
    border-radius: 8px;
    margin: 3rem;
    padding: 1rem 2rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.single-product > img {
    width: 100%;
    height: auto;
}

.single-product > div {
    letter-spacing: 1px;
    text-align: justify;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    font-size: var(--font-size);
}

.single-product > .description {
    text-align: justify;
}

.single-product section {
    font-weight: bold;
}

.single-product section input {
    width: 3rem;
    padding: 0 4px;
}

.single-product button {
    background-color: #99275adc;
    border: none;
    height: 2.5rem;
    border-radius: 4px;
    font-size: 1rem;
    font-weight: bold;
    color: var(--text);
    transition: opacity 0.15s;  
}

.single-product button:hover {
    opacity: 0.8;
}

.single-product button:active {
    opacity: 0.6;
}

.single-product button.disabled{
    opacity: 0.5;
    cursor: not-allowed;
}

/* cart page */
.cart-container {
    min-height: calc(100vh - 4rem);
    padding: 3rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    font-size: var(--font-size);
}

.cart-container section {
    border: 2px solid var(--secondary);
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.cart-container section .cart-item{
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 1rem;
}

/* media queries */

@media (min-width: 768px) {
    /* forms */
    .form-btn {
        width: 150px;
        align-self: center;
    }

    /* single product page */
    .single-product {
        flex-direction: row;
    }

    .single-product > img {
        width: 50%;
    }

    .single-product button {
        width: 150px;
    }
}